.d_dd_acc {
    width: 100%;
    background: white;
}

.d_dd_menu_acc {
    width: 75%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}

.d_dd_subMenu_acc {
    display: flex;
    width: 55%;
    margin: 0 auto;
    margin-left:0;
    justify-content: space-between;
}

.d_services-submenu_acc {
    list-style: none;
}

.d_services-submenu_acc li {
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15px;
    padding-bottom: 15px;
    text-align: left;
}

.d_services-sub-link_acc {
    text-decoration: none;
    color: black;
    /* padding: 1%; */
}

.d_services-sub-link_acc:hover {
    font-weight:900;
}

.d_dd_acc.clicked {
    display: none;
}

.d_dd_img_m_acc {
    display: flex;
    width: 38%;
    margin-top: 2%;
}



.d_dd_img_acc button {
    width: fit-content;
}

