

.d_dd_main {
    width: 100%;
    background: white;
}

.d_dd_menu {
    width: 75%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}

.d_dd_subMenu {
    display: flex;
    width: 55%;
    margin: 0 auto;
    margin-left:0;
    justify-content: space-between;
    
}

.d_services-submenu{
    list-style: none;
    
}

.d_services-submenu li {
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15px;
    padding-bottom: 15px;
    text-align: left;
}

.d_services-sub-link {
    text-decoration: none;
    color: black;
}

.d_dd_main.clicked {
    display: none;
}

.d_services-sub-link:hover {
    font-weight:900;
}

.d_dd_img_m {
    display: flex;
    width: 40%;
    margin-top:2%;
}



.d_dd_img button {
    width:30%;
}
