.d_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
}

.d_nav_item {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: -2%;
    /* border: 1px solid black; */
}

.d_head {
    height: 50px;
    border-bottom: 1px solid rgb(231, 227, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 0.15s ease-out 0s;
    width: 80%;
    padding-left: 20%;
}

.d_head_3 {
    width: 20%;
    margin-left: -7%;
}

.d_head_3 button {
    align-self: flex-end;
    margin: 30px 50px 3px 0px;
    font-weight: 500;
    color: black;
    
}

.d_main {
    display: flex;
    width:70%;
    height: 44px;
    border: 1px solid rgb(231, 227, 223);
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: auto;
    margin-top: 10%;
}

.d_main input {
    border: none;
    color: initial;
    box-shadow: none;
    display: initial;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    position: static;
    transition: none 0s ease 0s;
    align-items: center;
    margin-left: -12%;
}

.d_searchBut {
    flex-shrink: 0;
    /* padding: 13px; */
    width: 44px;
    height: 44px;
    padding: 20px 3.73% 0px;
}

/* .d_main_search {
    margin-top:101px;
} */

.d_nav_item li {
    list-style: none;
    margin: auto;
    padding: 1%;
    
}

.d_nav_item ul {
    display:flex;
    width:90%;
}


.d_drop_but {
    color: black;
    list-style: none;
    text-decoration: none;
    margin:auto;
    text-align:left;
}

.d_drop_but:hover {
    font-weight: 900;
    border-bottom: 1px solid orangered;
}

.d_sex_but:hover {
    font-weight: 700;
    
}

.d_nav_list {
    display: flex;
}

/* .d_nav_item_list {
    justify-content:space-between;
} */