.content-image-one {
    width: 200px;
    margin-top: 20px;

}

.content-div-ptag-one {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    margin-top: 22px;
    text-align: center;
    margin: 2px;
    text-transform: capitalize;

    font-family: Arial, Helvetica, sans-serif;
}

.content-div-ptag-two {
    font-size: 12px;

    color: #000000;

    text-align: center;
    margin: 2px;

    /* line-height: 20px; */
    font-family: Arial, Helvetica, sans-serif;
}

.content-div-ptag-three {
    font-size: 12px;
    font-weight: 600;
    color: #000000;

    text-align: center;
    margin: 2px;

    /* line-height: 20px; */
    font-family: Arial, Helvetica, sans-serif;
}
.for-bc-color {
    background-color: #e6e4e5;
     width: 200px;
     margin-left: 10px;

}
